<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("About", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <script src="~/Scripts/jquery.signalR-2.4.3.min.js"></script>
    <script src="~/Scripts/hub.js"></script>
    <script type="text/javascript">
        $(function () {
            var logger = $.connection.eHDHub;
            logger.client.logMessage = function (msg) {
                console.log(msg);
                var curent = $("#cucusId").val().split("|");
                var msgs = msg.split("|");
                if (msgs[2] == "Login") {
                    if (curent[0] == msgs[0]) {
                        if (curent[1] != msgs[1]) {
                            alert('Bạn đã đăng nhập bằng một tài khoản khác');
                            document.location.href = "\\";
                        }
                    }
                    else {
                        if (curent[1] == msgs[1]) {
                            alert('Tài khoản này đã đăng nhập ở một nơi khác');
                            document.location.href = "/logout.aspx";
                        }
                    }
                }
            };
            $.connection.hub.start();

        });

    </script>
</body>
</html>
